<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579917145253-tlds29i3nvh2tgq03g0nb8cb32i9tfsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579917145253-tlds29i3nvh2tgq03g0nb8cb32i9tfsj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>579917145253-bdsq1i4hn1pbbtoktt7b3fe07rpo0kf0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmM2V_Dp3i03sN-mkWvCKvh2lHKT77sEY</string>
	<key>GCM_SENDER_ID</key>
	<string>579917145253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.new1</string>
	<key>PROJECT_ID</key>
	<string>udemy-course-938de</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-course-938de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579917145253:ios:fa0deb6d0168c3aa7c994c</string>
</dict>
</plist>